.product-section{
  display: flex;
  margin-bottom: 20px;
}
@media only screen and (max-width : 837px) {
  .product-section{
    display: block;
    margin-bottom: 20px;
    width: 100%;
    margin: auto;
  }
}

.Detailed-production{
  max-width: 1200px;
  margin: auto;
}

@media only screen and (max-width : 837px) {
  .Detailed-production{
    max-width: 100%;
    margin: 0;
  }
}



.Detailed-production .right-text{
  padding-left: 20px;
}

.Detailed-production .subheading{
  padding: 0;
  /* margin: 0px 20% 0px 0px; */
  text-align: left;
}

.Detailed-production .text{
  padding: 0px 0px 5px;
  text-align: left;
  
}
.pruduct-img img{
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
.pruduct-img{
  max-width: 50%;
  max-height: 100%;
  height: auto;
  display: flex;
  justify-content: center; /*左右中央揃え*/
  align-items: center;     /*上下中央揃え*/
}

.Detailed-production .flex-text{
  padding: 0px 0px 5px;
  width: 50%;
  text-align: left;
}

@media only screen and (max-width : 837px) {
  .pruduct-img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    display: flex;
    justify-content: center; /*左右中央揃え*/
    align-items: center;     /*上下中央揃え*/
  }
  
  .Detailed-production .flex-text{
    padding: 0px 0px 5px;
    width: 100%;
    text-align: left;
  }
}


.Detailed-production p{
  font-size: 17px;
  padding-left: 10px;
}


.break-keep{
  word-break: keep-all;
}

.youtube {
  width: 50%;
}

@media only screen and (max-width : 837px) {
  .youtube {
    width: 100%;
  }
}

.youtube iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: 100%;
}

.product-section ul{
  list-style: circle;
}